@page
@model Asp_Identity.Pages.LoginModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sl-12 col-md-12 col-lg-4">
            <h1 class="mb-5">Login</h1>
            <form method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="LogModel.Email">Email Address</label>
                    <input type="text" class="form-control" asp-for="LogModel.Email" />
                    <span asp-validation-for="LogModel.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="LogModel.Password">Password</label>
                    <input type="password" class="form-control" asp-for="LogModel.Password" />
                    <span asp-validation-for="LogModel.Password" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                
            </form>
        </div>
    </div>


</div>
